<?php

namespace Drupal\{{ machine_name }}\Plugin\bundle_override\Objects\node;

use Drupal\bundle_override_node\Plugin\bundle_override\EntityTypes\node\NodeB;

 /**
 * Plugin implementation of the 'BundleOverrideEntityTypes'.
 *
 * @BundleOverrideObjects(
 *   id = "{{ bundle_name }}"
 * )
 */
class {{ class_name }} extends NodeB {

  /**
   * {@inheritdoc}
   */
  public static function getStaticBundle() {
    return '{{ bundle_name }}';
  }

}
