<?php

namespace Drupal\{{ machine_name }}\Plugin\bundle_override\Objects\user;

use Drupal\bundle_override_user\Plugin\bundle_override\EntityTypes\user\UserB;

 /**
 * Plugin implementation of the 'BundleOverrideEntityTypes'.
 *
 * @BundleOverrideObjects(
 *   id = "{{ bundle_name }}"
 * )
 */
class {{ class_name }} extends UserB {

  /**
   * {@inheritdoc}
   */
  public static function getStaticBundle() {
    return '{{ bundle_name }}';
  }

}
