<?php

namespace Drupal\{{ machine_name }}\Plugin\bundle_override\Objects\taxonomy_term;

use Drupal\bundle_override_term\Plugin\bundle_override\EntityTypes\taxonomy_term\TermB;

 /**
 * Plugin implementation of the 'BundleOverrideEntityTypes'.
 *
 * @BundleOverrideObjects(
 *   id = "{{ bundle_name }}"
 * )
 */
class {{ class_name }} extends TermB {

  /**
   * {@inheritdoc}
   */
  public static function getStaticBundle() {
    return '{{ bundle_name }}';
  }

}
